---

{created-at-block}created: {created-at}{end-created-at-block}
{updated-at-block}updated: {updated-at}{end-updated-at-block}
{source-url-block}url: []({source-url}){end-source-url-block}

{tags-block}
tags: {tags} 
{end-tags-block}

---

{content-block}{content}{end-content-block}

